* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #967272;
}

body * {
  font-family: 'Roboto', sans-serif;
}

#app * {
  border: 1px;
}

#app {
  display: grid;
  grid-template-columns:max-content;
  grid-template-areas: 
  'A B'
  'A C';
  gap: 32px;
  place-content: center;
  height: 100vh;
}

#player1 {
  grid-area: A;
  padding:50px 38px;
}

#player1 img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 6px;
}

#player1 .wrapper {
  width: 190px;
}
#player1 .info {
  margin-top: 28px;
}


#player2 {
  grid-area: B;
  height: fit-content;
}


#player3 {
  grid-area: C;
}

.player {
  background-color: #d37c7c;
  padding: 28px;
  border-radius: 10px;

}
.player img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    border-radius: 6px;
  
}
.info-wrapper {
  display: flex;
  align-items: center;
  gap: 28px;

}

.player h1 {
  font-size: 24px;
  margin-bottom: 9.6px;
}

.info {
  color: #dfffff;
 
}

.inf p{
  opacity: 0.67;
  font-size: 19px;

}

.horizontal .controls {
  padding-inline: 58px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}


.time {
  font-size: 14px;
  color: #c4c4cc;
  opacity: 0.7;

  display: flex;
  justify-content: space-between;
  margin-top: 9.6px;
}

.track {
  position: relative;
  margin-top: 28px;
}

.track::before{
  content: '';
  height: 6px;
  width: 100%;
  display: block;
  background: #d9d9d9;
  opacity: 0.3;
  border-radius: 9.60297px;

  position: absolute;
}

.track::after{
  content: '';
  height: 6px;
  width: 80%;
  display: block;
  background: #d9d9d9;
  border-radius: 9.60297px;
}

@media (max-width: 480px) {
  #app{
    display: flex;
    flex-direction: column;
    max-width: 70px;
    margin: auto;

    height: auto;
    padding-block: 60px;
  }
  .horizontal .controls {
    padding-inline: 30px;
  }
}